body{
    width: auto;
    height:  auto;
}

.main{
    margin: 0 auto;
    width: auto;
    position: fixed;
}

.header-1{
    width: 100%;
    position: fixed;
    background-color: white;
}

.seetings ul li{
    list-style: none;
    float: left;
}
.settings{
  position: absolute;
  left: 80%;
  height: 43px;
  width: 43px;
  background-color: white;
}

.text-container{
  width:50%;
  position: absolute;
  font-size: 40px;
  text-align: justify;
  background-color:white;
}
/*FIM DO HEADER 1*/
.header-2{
  width: 100%;
  background-color:white;
}

.Bolas-fotos{
  background-color: white;
}

.bola-1 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}

.bola-2 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}

.bola-3 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}

.bola-4 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}
.bola-5{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}
.bola-6{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}
.bola-7{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}
.bola-8{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: rgb(190, 190, 190);
}
.bola-9{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(190, 190, 190);
}
.bola-10{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(190, 190, 190);
}
.bola-11{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}
.bola-12{
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(190, 190, 190);
}

.B1{
  position: relative;
  width: 100px;
  height: 100px;
  left: 70%;
  top: 5px;
}

.B2{
  position: relative;
  width: 100px;
  height: 100px;
  top: -95px;
}

.B3{
  position: relative;
  width: 100px;
  height: 100px;
  left: 35%;
  top: -100px;
}
.B4{
  position: relative;
  width: 100px;
  height: 100px;
  top:-95px ;
}

.B5{
  position: relative;
  width: 100px;
  height: 100px;
  left: 70%;
  top: -200px
}

.B6{
  position: relative;
  width: 100px;
  height: 100px;
  left: 35%;
  top: -200px;
}

.B7{
  position: relative;
  width: 100px;
  height: 100px;
  left: 70%;
  top:-200px ;
}

.B8{
  position: relative;
  width: 100px;
  height: 100px;
  top: -300px;
}

.B9{
  position: relative;
  width: 100px;
  height: 100px;
  left: 35%;
  top: -300px;
}
.B10{
  position: relative;
  width: 100px;
  height: 100px;
  top: -300px;
}

.B11{
  position: relative;
  width: 100px;
  height: 100px;
  left: 70%;
  top: -400px
}

.B12{
  position: relative;
  width: 100px;
  height: 100px;
  left: 35%;
  top: -400px;
}

.text1{
  position: relative;
  border: 1px solid black;
  top: -1088px;
  width: 29.8%;
  border-radius: 5px;
}

.text2{
  position: relative;
  border: 1px solid black;
  top: -1111px;
  left: 69%;
  width: 29.8%;
  border-radius: 5px;
}

.text3{
  position: relative;
  border: 1px solid black;
  top: -1040px;
  width: 29.8%;
  left: 34.5%;
  border-radius: 5px;
}

.text4{
  position: relative;
  border: 1px solid black;
  top: -957px;
  width: 29.8%;
  border-radius: 5px;
}

.text5{
  position: relative;
  border: 1px solid black;
  top: -986px;
  left: 69%;
  width: 29.8%;
  border-radius: 5px;
}

.text6{
  position: relative;
  border: 1px solid black;
  top: -909px;
  left: 34.5%;
  width: 29.8%;
  border-radius: 5px;
}

.text7{
  position: relative;
  border: 1px solid black;
  top: -832px;
  width: 29.8%;
  border-radius: 5px;
}

.text8{
  position: relative;
  border: 1px solid black;
  top: -855px;
  left: 69%;
  width: 29.8%;
  border-radius: 5px;
}

.text9{
  position: relative;
  border: 1px solid black;
  top: -778px;
  left: 34.5%;
  width: 29.8%;
  border-radius: 5px;
}

.text10{
  position: relative;
  border: 1px solid black;
  top: -701px;
  width: 29.8%;
  border-radius: 5px;
}

.text11{
  position: relative;
  border: 1px solid black;
  top: -724px;
  left: 69%;
  width: 29.8%;
  border-radius: 5px;
}

.text12{
  position: relative;
  border: 1px solid black;
  top: -647px;
  left: 34.5%;
  width: 29.8%;
  border-radius: 5px;
}

/*FIM DO HEADER 2*/
.header-3{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: white;
}

.linha{ 
  border: 1px solid #000000;
}

.text-container-1{
  margin-bottom: 10px;
  text-decoration-color: black;
  text-align: left;
}

.text-1{
  text-align: left;
  font-size: 13.50px;
  margin-left: 11px;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-2{
  margin-left: 83px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-3{
  text-align: center;
  margin-left: 170px;
  margin-top: 20px;
  font-size:13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-4{
  margin-left: 239px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-5{
  text-align: right;
  margin-left: 313px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed
}

.images-1{
  align-items: left;
  margin-left: 29px;
  position: fixed;
  background-color: transparent;
}
.images-2{
  margin-left: 105px;
  position: fixed;
  background-color: transparent;
}
.images-3{
  margin-left: 186px;
  position: fixed;
  background-color: transparent;
}
.images-4{
  margin-left: 255px;
  position: fixed;
  background-color: transparent;

}
.images-5{
  margin-left: 320px;
  position: fixed;
  background-color: transparent;
}

/*FIM DO HEADER 3*/

.header-4{
  width: 100%;
  background-color:white;
}

.flex-container {
  display: flex;
}

.flex-child {
  display: inline-block;
  flex: 1;
  border: 2px solid black;
  border-radius: 6.5%;
  width: 140px;
  height: 270px;
}  

.flex-child:first-child {
  margin-right: 10px;
} 

.Bloco3{
  display: inline-block;
  flex: 1;
  border: 2px solid black;
  border-radius: 6.5%;
  width: 170px;
  height: 270px;
}
.Bloco3{
  position: absolute;
  left: 51%;
}

.Bloco4{
  display: inline-block;
  flex: 1;
  border: 2px solid black;
  border-radius: 6.5%;
  width: 170px;
  height: 270px;
}
.Bloco4{
  position: absolute;
  top: 665px;
}

.Bloco5{
  display: inline-block;
  flex: 1;
  border: 2px solid black;
  border-radius: 6.5%;
  width: 170px;
  height: 270px;
}
.Bloco5{
  position: absolute;
  top: 750px;
}
   
.foto1{
  border-top-left-radius:6%;
  border-top-right-radius:6%; 
}

.guardar-1{
  position: absolute;
  left: 41%;
  bottom: 57.5%;
}

.guardar-2{
  position: absolute;
  left: 90%;
  bottom: 57.5%;
}
.guardar-3{
  position: absolute;
  left: 41%;
  bottom: 21.5%;
}

.guardar-4{
  position: absolute;
  left: 90%;
  bottom: 21.5%;
}

.guardar-5{
  position: absolute;
  left: 41%;
  top: 111.5%;
}

.guardar-6{
  position: absolute;
  left: 90%;
  top: 111.5%;
}

/*FIM DO HEADER 4*/

.textmeetings{
  margin-bottom: 10px;
  text-decoration-color: black;
  text-align: left;
  background-color: white;
}

.textM1{
  text-align: left;
  font-size: 13.50px;
  margin-left: 11px;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.textM2{
  margin-left: 95px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.textM3{
  text-align: center;
  margin-left: 170px;
  margin-top: 20px;
  font-size:13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.linhaUpcoming{
  border: 1px solid #000000;
  width: 17.5%;
  margin-left: 9px;
  margin-top: 3px;
}

.eventos{
  display: flex;
}
.textM4{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 133px;
}

.evento-1{
  flex: 1;
  position: absolute;
  border: 2px solid black;
  border-radius: 8px;
  width: 355px;
  height: 65px;
  top: 159px;
}
.fotoM{
  border-radius: 10px;
}

.textM5{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 253px;
}
.evento-2{
  flex: 1;
  position: absolute;
  border: 2px solid black;
  border-radius: 8px;
  width: 355px;
  height: 65px;
  top: 279px;
}

.textM6{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 376px;
}
.evento-3{
  flex: 1;
  position: absolute;
  border: 2px solid black;
  border-radius: 8px;
  width: 355px;
  height: 65px;
  top: 402px;
}

.seta-1{
  position: absolute;
  left: 90%;
  bottom: 74.5%;
}

.seta-2{
  position: absolute;
  left: 90%;
  bottom: 59.5%;
}

.seta-3{
  position: absolute;
  left: 90%;
  bottom: 44.5%;
}

/*FIM DO HEADER 5*/

.message-1{
  flex: 1;
  position: absolute;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 355px;
  height: 69px;
  top: 95px;
}

.message-2{
  flex: 1;
  position: absolute;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 355px;
  height: 69px;
  top: 190px;
}

.message-3{
  flex: 1;
  position: absolute;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 355px;
  height: 69px;
  top: 285px;
}


.fotoMassage-1{
  border-radius: 50%;
  display: inline-block;
  height: 68px;
  width: 68px;
  border: 2px solid black;
  background-color: rgb(190, 190, 190);
}
.fotoMassage1{
  position: relative;
  top: 87px;
}

.fotoMassage-2{
  border-radius: 50%;
  display: inline-block;
  height: 68px;
  width: 68px;
  border: 2px solid black;
  background-color: rgb(190, 190, 190);
}
.fotoMassage2{
  position: relative;
  top: 106px;
}

.fotoMassage-3{
  border-radius: 50%;
  display: inline-block;
  height: 68px;
  width: 68px;
  border: 2px solid black;
  background-color: rgb(190, 190, 190);
}
.fotoMassage3{
  position: relative;
  top: 125px;
}


.textMessage1{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 103px; 
  left: 80px;
}
.textMessage2{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 198px; 
  left: 80px;
}
.textMessage3{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 293px; 
  left: 80px;
}
.textMessage4{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 140px;
  left: 80px;
}

.textMessage5{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top:  235px;
  left: 80px;
}

.textMessage6{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  top: 330px; 
  left: 80px;
}

