body{
    width: auto;
    height:  auto;
}

.main-1{
    margin: 0 auto;
    width: auto;
    position: fixed;
}

.header-1{
    width: 100%;
    position: fixed;
}

.seetings ul li{
    list-style: none;
    float: left;
}
.settings{
  position: relative;
  left: 85%;
  height: 43px;
  width: 43px;
  position: absolute;
  background-color: white;
}

.text-container{
  width:50%;
  position: absolute;
  font-size: 40px;
  text-align: justify;
  background-color: white;
}
/*FIM DO HEADER 1*/
.header-2{
  width: 100%;
  background-color:white;
}

.Bolas-fotos{
  background-color: white;
}

.bola {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(158, 158, 158);
  flex: 1;
  border: 2px solid rgb(0, 0, 0);
}

.bola-1 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(158, 158, 158);
}

.bola-2 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(158, 158, 158);
}

.bola-3 {
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
  background-color: rgb(158, 158, 158);
}

/*FIM DO HEADER 2*/
.header-3{
  width: 100%;
  background-color:white;
  position: fixed
}

.linha{ 
  border: 1px solid #000000;
  margin-top: 50px;
  width: 390px;
}

.text-container-1{
  margin-bottom: 10px;
  text-decoration-color: black;
}

.text-1{
  text-align: left;
  font-size: 13.50px;
  margin-left: 11px;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-2{
  margin-left: 83px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-3{
  text-align: center;
  margin-left: 170px;
  margin-top: 20px;
  font-size:13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-4{
  margin-left: 239px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed;
}
.text-5{
  text-align: right;
  margin-left: 313px;
  margin-top: 20px;
  font-size: 13.50px;
  text-decoration: none;
  color: #000000;
  position: fixed
}


.images-1{
  align-items: left;
  margin-left: 29px;
  position: fixed;
}
.images-2{
  margin-left: 105px;
  position: fixed;
}
.images-3{
  margin-left: 186px;
  position: fixed;
}
.images-4{
  margin-left: 255px;
  position: fixed;

}
.images-5{
  margin-left: 320px;
  position: fixed;
}

/*FIM DO HEADER 3*/

.header-4{
  width: 100%;
  background-color:white;
}

.flex-container {
  display: flex;
}

.flex-child {
  display: inline-block;
  flex: 1;
  border: 2px solid black;
  border-radius: 6.5%;
  width: 140px;
  height: 250px;
}  

.flex-child:first-child {
  margin-right: 10px;
} 
.foto1{
  border-top-left-radius:6.5%;
  border-top-right-radius:6.5%; 
}
.foto2{
  border-top-left-radius:6.5%;
  border-top-right-radius:6.5%; 
}
.foto3{
  border-top-left-radius:6.5%;
  border-top-right-radius:6.5%; 
}
